.explore-container {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  background: linear-gradient(180deg, #F7F5FF 0%, #FFF 28.16%);
}

.explore-container .explore-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
}
.explore-container .explore-wrapper .top {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  max-width: 860px;
  text-align: center;
}
.explore-container .explore-wrapper .explore-card-container {
  display: flex;
  gap: 48px;
}
.explore-container .explore-wrapper .service-btn button {
  cursor: pointer;
  padding: 16px 32px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(135deg, #693ed4 0%, #a31ebe 100%);
  color: #fffdfa;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
  text-transform: capitalize;
}
