.App {
  font-family: sans-serif;
  text-align: center;
}
.content {
  position: relative;
  z-index: 2;
  text-align: left;
  padding-left: 40px;
}


.swiper-slide {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  overflow: hidden;
  padding: 50px 0;
}
.swiper-slide .slider-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-color: #3c48e3;
  background-blend-mode: multiply;
}
.slider {
  width: 100%;
  display: flex;
  position: relative;
  z-index: 0;
}

.swiper-container {
  width: 180%;
  float: left;
}
.swiper-pagination-bullet {
  background: #ffffff !important;
}
