@media (max-width:1368px){
    .engagement-model-container-smallDevice {
        display: flex;
    }
    .engagement-model-container-BigDevice{
        display: none;
    }
}

@media  (max-width:500px){

    .contact-inquiry-buttons{
        flex-direction: column;
    }
    .each-partners{
        flex-direction: column !important;
    }
}

@media  (max-width:1200px){

  
    .each-partners{
        flex-direction: column !important;
    }
    .eachDevelopedAppContainer{
        flex-direction: column !important;
    }
   
}
@media (max-width:850px) {
    
    .large-device-header{
    display: none;
    }
    .small-device-header{
    display: flex;
    }
    .other-offices{
        flex-direction: column;
        gap: 80px;
    }
   
}