.start-journey-wrapper {
   
    background-image: url(../../assets/startjouney.png);
   
    background-repeat: no-repeat;
    background-position: center;

}
 
@media  (max-width:1200px) {
    .start-journey-wrapper {
   
        background-image: url(/public/MobileCTA.png);
        background-size: cover;
    }
}