.welcome-container {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:64px 70px;


  .welcome-wrapper {
    width: 100%;
    display: flex;

    .left {
      width: 60%;
      display: flex;
      flex-direction: column;
    gap: 64px;
      
      .upper {
        display: flex;
        flex-direction: column;
        gap: 8px;
        max-width: 600px;

        .title {
          text-transform: uppercase;
        }
      }

      .lower .welcome-cta button {
        cursor: pointer;
        color: #f8fafc;
        text-align: center;
        font-family: Sora;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 24px */
        letter-spacing: -0.32px;
        text-transform: capitalize;
        padding: 16px 24px;
        border: none;
        border-radius: 8px;
        border: 1px solid #fff;
        background: linear-gradient(135deg, #693ed4 0%, #a31ebe 100%);
      }
    }
    .right {
      width: 40%;

      .each-team-member {
        position: relative;
        img {
          width: 100%;
        };
        .tag{
          height: 50px;
          position: absolute;
          bottom: 10px;
          left: 15px;
          right: 15px;
   
          background-color: white;
          display: flex;
          align-items: center;

          .name{
            width: 50%;
          }
          .position{
            width: 50%;
          }
        }

      }

      .swiper-slide {
        width: max-content;
      }
    }
  }
}
