.setsapart-container{
    background-image: url("../../assets/apart.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ourOffice-container{
    background-image: url("../../assets/ourofficebg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.story-main{
    background-image: url("../../assets/BlinkStory/storyMain.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.story-2018{
    background-image: url("../../assets/BlinkStory/2018.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.story-2019{
    background-image: url("../../assets/BlinkStory/2019.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.story-2020{
    background-image: url("../../assets/BlinkStory/2020.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.story-2021{
    background-image: url("../../assets/BlinkStory/2021.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.story-2022{
    background-image: url("../../assets/BlinkStory/2022.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.story-2023{
    background-image: url("../../assets/BlinkStory/2023.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}